
.navbar {
  width: 25vw;
  height: 100vh;
  font-family: 'Spline Sans';
}

.user {
  margin: 10px auto;
  padding: 20px;
  width: 90%;
  background-color: #261522;
  border-radius: 20px;
}

.user h4 {
  font-weight: lighter;
}

.tooltip {
  font-weight: lighter;
  font-size: 16px;
  color: #eeeeee;
}